<!DOCTYPE html>
<html>
<body>

    <h1>Parameters</h1>

    <div>
        <form method="post">
            <label for="genres">Select Genres (max 5)</label><br>
            <input type="text" id="genres" name="genres"><br>
            <label for="artists">Select Similar Artists (max 5)</label><br>
            <input type="text" id="artists" name="artists"><br>
            <label for="tracks">Select Similar Tracks (max 5)</label><br>
            <input type="text" id="tracks" name="tracks"><br>

            <label>Get Playlist</label><br>
            <input type="submit">
        </form>
    </div>

</body>
</html>